<?xml version="1.0"?>
<!--
/**
 * CrowdSec_Bouncer Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT LICENSE
 * that is bundled with this package in the file LICENSE
 *
 * @category   CrowdSec
 * @package    CrowdSec_Bouncer
 * @copyright  Copyright (c)  2021+ CrowdSec
 * @author     CrowdSec team
 * @see        https://crowdsec.net CrowdSec Official Website
 * @license    MIT LICENSE
 *
 */

/**
 *
 * @category CrowdSec
 * @package  CrowdSec_Bouncer
 * @module   Bouncer
 * @author   CrowdSec team
 *
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <!-- Logger -->
    <type name="CrowdSec\Bouncer\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="CrowdSec\Bouncer\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">crowdsec-bouncer</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="prod" xsi:type="object">CrowdSec\Bouncer\Logger\Handlers\Prod</item>
            </argument>
        </arguments>
    </type>
    <type name="CrowdSec\Bouncer\Logger\EventLogger">
        <arguments>
            <argument name="name" xsi:type="string">crowdsec-events</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="event" xsi:type="object">CrowdSec\Bouncer\Logger\Handlers\Event</item>
            </argument>
        </arguments>
    </type>
    <!-- Plugins -->
    <type name="Magento\Framework\App\FrontControllerInterface">
        <!-- Bouncing -->
        <plugin name="crowdsec-front-controller" type="CrowdSec\Bouncer\Plugin\FrontController" sortOrder="1" />
    </type>
    <type name="Magento\Customer\Model\AccountManagement">
        <!-- Event logging:customer authenticate -->
        <plugin name="crowdsec-customer-account-management" type="CrowdSec\Bouncer\Plugin\Customer\AccountManagement" sortOrder="10" />
    </type>
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <!-- Event logging:customer register -->
        <plugin name="crowdsec-customer-account-create-post" type="CrowdSec\Bouncer\Plugin\Customer\AccountCreatePostController" sortOrder="10" />
    </type>
</config>
