<?xml version="1.0"?>
<!--
/**
 * CrowdSec_Bouncer Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT LICENSE
 * that is bundled with this package in the file LICENSE
 *
 * @category   CrowdSec
 * @package    CrowdSec_Bouncer
 * @copyright  Copyright (c)  2021+ CrowdSec
 * @author     CrowdSec team
 * @see        https://crowdsec.net CrowdSec Official Website
 * @license    MIT LICENSE
 *
 */

/**
 *
 * @category CrowdSec
 * @package  CrowdSec_Bouncer
 * @module   Bouncer
 * @author   CrowdSec team
 *
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
        <!-- Event logging:place order -->
        <observer name="crowdsec_bouncer_sales_order_place_before" instance="CrowdSec\Bouncer\Observer\Order\PlaceBefore" />
    </event>
    <event name="sales_order_place_after">
        <!-- Event logging:place order -->
        <observer name="crowdsec_bouncer_sales_order_place_after" instance="CrowdSec\Bouncer\Observer\Order\PlaceAfter" />
    </event>
    <event name="sales_quote_payment_import_data_before">
        <!-- Event logging:place payment -->
        <observer name="crowdsec_bouncer_sales_quote_payment_import_data_before" instance="CrowdSec\Bouncer\Observer\Payment\ImportDataBefore"/>
    </event>
    <event name="sales_order_payment_place_start">
        <!-- Event logging:place payment -->
        <observer name="crowdsec_bouncer_sales_order_payment_place_start" instance="CrowdSec\Bouncer\Observer\Payment\PlaceStart"/>
    </event>
    <event name="sales_order_payment_place_end">
        <!-- Event logging:place payment -->
        <observer name="crowdsec_bouncer_sales_order_payment_place_end" instance="CrowdSec\Bouncer\Observer\Payment\PlaceEnd"/>
    </event>
</config>
