<?xml version="1.0"?>
<!--
/**
 * CrowdSec_Bouncer Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT LICENSE
 * that is bundled with this package in the file LICENSE
 *
 * @category   CrowdSec
 * @package    CrowdSec_Bouncer
 * @copyright  Copyright (c)  2021+ CrowdSec
 * @author     CrowdSec team
 * @see        https://crowdsec.net CrowdSec Official Website
 * @license    MIT LICENSE
 *
 */

/**
 *
 * @category CrowdSec
 * @package  CrowdSec_Bouncer
 * @module   Bouncer
 * @author   CrowdSec team
 *
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <type name="Magento\Framework\App\FrontControllerInterface">
        <!-- We have to put our plugin before this Full Page Cache plugin-->
        <plugin name="front-controller-builtin-cache" sortOrder="10" />
    </type>
    <type name="Magento\Catalog\Controller\Product\View">
        <!-- Event logging:product view -->
        <plugin name="crowdsec-catalog-product-view" type="CrowdSec\Bouncer\Plugin\Catalog\ProductViewController" sortOrder="10" />
    </type>
    <type name="Magento\Catalog\Controller\Category\View">
        <!-- Event logging:category view -->
        <plugin name="crowdsec-catalog-category-view" type="CrowdSec\Bouncer\Plugin\Catalog\CategoryViewController" sortOrder="10" />
    </type>
</config>
