<?xml version="1.0"?>
<!--
/**
 * CrowdSec_Bouncer Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT LICENSE
 * that is bundled with this package in the file LICENSE
 *
 * @category   CrowdSec
 * @package    CrowdSec_Bouncer
 * @copyright  Copyright (c)  2021+ CrowdSec
 * @author     CrowdSec team
 * @see        https://crowdsec.net CrowdSec Official Website
 * @license    MIT LICENSE
 *
 */

/**
 *
 * @category CrowdSec
 * @package  CrowdSec_Bouncer
 * @module   Bouncer
 * @author   CrowdSec team
 *
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="crowdsec_bouncer" translate="label,comment,tooltip" type="text" sortOrder="520" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <tab>security</tab>
            <resource>CrowdSec_Bouncer::config</resource>
            <class>separator-top</class>
            <label>CrowdSec Bouncer</label>
            <!-- General -->
            <group id="general" translate="label, comment" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General settings</label>
                <!-- Connection -->
                <group id="connection" translate="label,comment,tooltip" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Connection details</label>
                    <attribute type="expanded">1</attribute>
                    <comment><![CDATA[Connect Magento 2 to your CrowdSec Local API.]]></comment>
                    <field id="api_url" translate="label,comment,tooltip tooltip" type="text" sortOrder="100" showInDefault="1">
                        <label>Your Local API url</label>
                        <comment><![CDATA[]]></comment>
                        <validate>required-entry</validate>
                        <tooltip><![CDATA[If the CrowdSec Agent is installed on this server, you could set this field to http://localhost:8080.]]></tooltip>
                    </field>
                    <field id="auth_type" translate="label,comment,tooltip" type="select" sortOrder="200" showInDefault="1">
                        <label>Authentication type</label>
                        <source_model>CrowdSec\Bouncer\Model\Config\Source\ConnexionType</source_model>
                        <comment><![CDATA[Choose between API key and TLS (pki) authentication]]></comment>
                    </field>
                    <field id="api_key" translate="label,comment,tooltip tooltip" type="text" sortOrder="300" showInDefault="1">
                        <label>Your bouncer key</label>
                        <comment><![CDATA[Generated with the cscli command, ex: <em>cscli bouncers add magento2-bouncer</em>]]></comment>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="crowdsec_bouncer/general/connection/auth_type">api_key</field>
                        </depends>
                    </field>
                    <field id="tls_cert_path" translate="label,comment,tooltip" type="text" sortOrder="400" showInDefault="1">
                        <label>Path to the bouncer certificate</label>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="crowdsec_bouncer/general/connection/auth_type">tls</field>
                        </depends>
                        <comment><![CDATA[Relative path to the "var" folder of your Magento 2 instance]]></comment>
                        <tooltip><![CDATA[For example: crowdsec/tls/bouncer.pem]]></tooltip>
                    </field>
                    <field id="tls_key_path" translate="label,comment,tooltip" type="text" sortOrder="500" showInDefault="1">
                        <label>Path to the bouncer key</label>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="crowdsec_bouncer/general/connection/auth_type">tls</field>
                        </depends>
                        <comment><![CDATA[Relative path to the "var" folder of your Magento 2 instance]]></comment>
                        <tooltip><![CDATA[For example: crowdsec/tls/bouncer-key.pem]]></tooltip>
                    </field>
                    <field id="tls_verify_peer" translate="label,comment,tooltip" type="select" sortOrder="600" showInDefault="1">
                        <label>Enable TLS peer verification</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="crowdsec_bouncer/general/connection/auth_type">tls</field>
                        </depends>
                    </field>
                    <field id="tls_ca_cert_path" translate="label,comment,tooltip" type="text" sortOrder="700" showInDefault="1">
                        <label>Path to the CA certificate for peer verification</label>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="crowdsec_bouncer/general/connection/auth_type">tls</field>
                            <field id="crowdsec_bouncer/general/connection/tls_verify_peer">1</field>
                        </depends>
                        <comment><![CDATA[Relative path to the "var" folder of your Magento 2 instance]]></comment>
                        <tooltip><![CDATA[For example: crowdsec/tls/ca-chain.pem]]></tooltip>
                    </field>
                    <field id="use_curl" translate="label,comment,tooltip" type="select" sortOrder="800" showInDefault="1">
                        <label>Use cURL</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enable if you want to call Local API with <i>cURL</i> instead of <i>file_get_contents</i>.]]></comment>
                    </field>
                    <field id="test"  translate="button_label" sortOrder="900" showInDefault="1">
                        <button_label>Test connection</button_label>
                        <frontend_model>CrowdSec\Bouncer\Block\Adminhtml\System\Config\Connection\Ping</frontend_model>
                    </field>
                </group>
                <group id="bouncing" translate="label,comment,tooltip" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bouncing</label>
                    <attribute type="expanded">1</attribute>
                    <comment><![CDATA[Refine bouncing according to your needs.]]></comment>
                    <field id="front_enabled" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable bouncer on Frontend area</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="admin_enabled" translate="label,comment,tooltip" type="select" sortOrder="200" showInDefault="1">
                        <label>Enable bouncer on Adminhtml area</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="api_enabled" translate="label,comment,tooltip" type="select" sortOrder="300" showInDefault="1">
                        <label>Enable bouncer on API areas</label>
                        <comment><![CDATA[REST, SOAP and GraphQL areas]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="level" translate="label,comment,tooltip" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Bouncing level</label>
                        <source_model>CrowdSec\Bouncer\Model\Config\Source\Level</source_model>
                        <tooltip><![CDATA[<ul>
        <li><strong>Flex bouncing</strong>: Display Captcha only, even if CrowdSec advises to ban the IP.</li>
        <li><strong>Normal bouncing</strong>: Follow CrowdSec advice (Ban or Captcha).</li>
                    </ul>]]></tooltip>
                    </field>
                </group>
            </group>
            <!-- Customization -->
            <group id="theme" translate="label,comment,tooltip" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Theme customization</label>
                <!-- Captcha wall -->
                <group id="captcha" translate="label,comment,tooltip" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Adapt the wording of the Captcha Wall</label>
                    <comment><![CDATA[You can customize the text display on the captcha wall.]]></comment>
                    <field id="wall_tab_title" translate="label,comment,tooltip" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Browser tab text</label>
                        <comment><![CDATA[The text in the browser tab of the captcha wall page.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="wall_title" translate="label,comment,tooltip" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title text</label>
                        <comment><![CDATA[The title text of the captcha wall page.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="wall_subtitle" translate="label,comment,tooltip" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Subtitle text</label>
                        <comment><![CDATA[The subtitle text of the captcha wall page.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="wall_refresh_image_link" translate="label,comment,tooltip" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Refresh image text</label>
                        <comment><![CDATA[The "refresh image" text of the captcha wall page.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="wall_input_placeholder" translate="label,comment,tooltip" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Input placeholder</label>
                        <comment><![CDATA[The placeholder text of the captcha wall page.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="wall_send_button" translate="label,comment,tooltip" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Send button text</label>
                        <comment><![CDATA[The "Send button" text of the captcha wall page.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="wall_error_message" translate="label,comment,tooltip" type="text" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Error message</label>
                        <comment><![CDATA[The "error message" text of the captcha wall page when a captcha is not successfuly resolved.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="wall_footer" translate="label,comment,tooltip" type="textarea" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom footer text</label>
                        <comment><![CDATA[You can add a custom footer text.]]></comment>
                    </field>
                </group>
                <!-- Ban page -->
                <group id="ban" translate="label,comment,tooltip" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Adapt the wording of the Ban Wall</label>
                    <comment><![CDATA[You can customize the text display on the ban wall.]]></comment>
                    <field id="wall_tab_title" translate="label,comment,tooltip" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Browser tab text</label>
                        <comment><![CDATA[The text in the browser tab of the ban wall page.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="wall_title" translate="label,comment,tooltip" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title text</label>
                        <comment><![CDATA[The title text of the ban wall page.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="wall_subtitle" translate="label,comment,tooltip" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Subtitle text</label>
                        <comment><![CDATA[The subtitle text of the ban wall page.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="wall_footer" translate="label,comment,tooltip" type="textarea" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom footer text</label>
                        <comment><![CDATA[You can add a custom footer text.]]></comment>
                    </field>
                </group>
                <!-- Colors -->
                <group id="color" translate="label,comment,tooltip" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Use your own colors]]></label>
                    <comment><![CDATA[You can customize remediation wall colors (ban wall and captcha wall).]]></comment>
                    <field id="text_primary" translate="label,comment,tooltip" type="text" sortOrder="1500" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Primary text color</label>
                        <comment><![CDATA[The color used for primary text on the two pages.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="text_secondary" translate="label,comment,tooltip" type="text" sortOrder="1600" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Secondary text color</label>
                        <comment><![CDATA[The color used for secondary text on the two pages.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="text_button" translate="label,comment,tooltip" type="text" sortOrder="1700" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Button text color</label>
                        <comment><![CDATA[The color of the text of the button on the captcha wall page.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="text_error_message" translate="label,comment,tooltip" type="text" sortOrder="1700" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Error message text color</label>
                        <comment><![CDATA[The color used for the error message (when captcha resolution failed).]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="background_page" translate="label,comment,tooltip" type="text" sortOrder="1800" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Page background color</label>
                        <comment><![CDATA[The background color used of the two pages.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="background_container" translate="label,comment,tooltip" type="text" sortOrder="1900" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Container background color</label>
                        <comment><![CDATA[The background color used for the central block on the two pages]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="background_button" translate="label,comment,tooltip" type="text" sortOrder="1900" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Button background color</label>
                        <comment><![CDATA[The background color used for the captcha validation button.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                    <field id="background_button_hover" translate="label,comment,tooltip" type="text" sortOrder="2000" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Button background color (hover)</label>
                        <comment><![CDATA[The background color used for the captcha validation button when it's hover.]]></comment>
                        <validate>required-entry</validate>
                    </field>
                </group>
                <!-- Custom css -->
                <group id="css" translate="label,comment,tooltip" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Use your own CSS code]]></label>
                    <comment><![CDATA[You can customize remediation walls with CSS code (ban wall and captcha wall).]]></comment>
                    <field id="custom" translate="label,comment,tooltip" type="textarea" sortOrder="2100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom CSS code</label>
                        <comment><![CDATA[The CSS code to use in the remediation wall (ban wall and captcha wall).]]></comment>
                    </field>
                </group>
            </group>
            <!-- Advanced -->
            <group id="advanced" translate="label,comment,tooltip" showInDefault="1">
                <label>Advanced settings</label>
                <!-- Communication mode -->
                <group id="mode" translate="label,comment,tooltip" showInDefault="1">
                    <label><![CDATA[Communication mode to the API]]></label>
                    <attribute type="expanded">1</attribute>
                    <field id="stream" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                        <label>Enable the stream mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[With the stream mode, every decision is retrieved in an asynchronous way. 3 advantages: <br>&nbsp;1) Invisible latency when loading pages<br>&nbsp;2) The IP verifications works even if your CrowdSec is not reachable.<br>&nbsp;3) The API can never be overloaded by the Magento traffic]]></comment>
                        <tooltip><![CDATA[Note: This method has one limit: all the decisions updates since the previous refresh will not be taken in account until the next refresh.]]></tooltip>
                    </field>
                    <field id="refresh_cron_expr" translate="label,comment,tooltip" type="text" sortOrder="200" showInDefault="1">
                        <label><![CDATA[Cron expression for cache refresh ]]></label>
                        <tooltip><![CDATA[
                        Examples:
                        <ul>
                            <li>Every minute : * * * * * </li>
                            <li>At midnight : 0 0 * * * </li>
                            <li>At every 5th minute : */5 * * * *</li>
                            <li>At minute 15 and 45 past every hour from 7 through 23 : 15,45 7-23 * * * </li>
                        </ul>
                        ]]>
                        </tooltip>
                        <comment><![CDATA[
                        Please use the standard cron syntax :  [minute] [hour] [day of month] [month] [day of week]. <br>
                        To disable this cron job, you can set 0 0 30 2 * <a href="https://devdocs.magento.com/guides/v2.4/config-guide/cron/custom-cron-ref.html#disable-cron-job" target="_blank">as explained in the official documentation.</a> ]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/mode/stream">1</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="refresh_cache"  translate="button_label" sortOrder="300" showInDefault="1">
                        <button_label>Refresh cache</button_label>
                        <frontend_model>CrowdSec\Bouncer\Block\Adminhtml\System\Config\Cache\Refresh</frontend_model>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/mode/stream">1</field>
                        </depends>
                    </field>
                </group>
                <!-- Cache -->
                <group id="cache" translate="label,comment,tooltip" showInDefault="1">
                    <label><![CDATA[Cache configuration]]></label>
                    <attribute type="expanded">1</attribute>
                    <comment><![CDATA[Polish the decisions cache settings by selecting the best technology or the cache durations best suited to your use.]]></comment>
                    <field id="technology" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                        <label>Technology</label>
                        <source_model>CrowdSec\Bouncer\Model\Config\Source\Cache</source_model>
                        <comment><![CDATA[The File system cache is faster than calling Local API. Redis or Memcached is faster than the File System cache.]]></comment>
                    </field>
                    <field id="clear_cache"  translate="button_label" sortOrder="200" showInDefault="1">
                        <button_label>Clear cache</button_label>
                        <frontend_model>CrowdSec\Bouncer\Block\Adminhtml\System\Config\Cache\Clear</frontend_model>
                    </field>
                    <field id="prune_cache"  translate="button_label" sortOrder="300" showInDefault="1">
                        <button_label>Prune Filesystem cache</button_label>
                        <frontend_model>CrowdSec\Bouncer\Block\Adminhtml\System\Config\Cache\Prune</frontend_model>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/cache/technology">phpfs</field>
                        </depends>
                    </field>
                    <field id="prune_cron_expr" translate="label,comment,tooltip" type="text" sortOrder="400" showInDefault="1">
                        <label><![CDATA[Cron expression for file system cache pruning]]></label>
                        <tooltip><![CDATA[
                        Examples:
                        <ul>
                            <li>Every minute : * * * * * </li>
                            <li>At midnight : 0 0 * * * </li>
                            <li>At every 5th minute : */5 * * * *</li>
                            <li>At minute 15 and 45 past every hour from 7 through 23 : 15,45 7-23 * * * </li>
                        </ul>
                        ]]>
                        </tooltip>
                        <comment><![CDATA[To disable this cron job, you can set 0 0 30 2 * ]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/cache/technology">phpfs</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="redis_dsn" translate="label,comment,tooltip" type="text" sortOrder="500" showInDefault="1">
                        <label><![CDATA[Redis DSN ]]></label>
                        <tooltip><![CDATA[Example of DSN: redis://localhost:6379/0]]></tooltip>
                        <comment><![CDATA[Fill in this field only if you have chosen the Redis cache.]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/cache/technology">redis</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="memcached_dsn" translate="label,comment,tooltip" type="text" sortOrder="600" showInDefault="1">
                        <label><![CDATA[Memcached DSN ]]></label>
                        <tooltip><![CDATA[Example of DSN: memcached://localhost:11211]]></tooltip>
                        <comment><![CDATA[Fill in this field only if you have chosen the Memcached cache.]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/cache/technology">memcached</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="clean_ip_cache_duration" translate="label,comment,tooltip" type="text" sortOrder="700" showInDefault="1">
                        <label><![CDATA[Clean IPs cache duration  (in seconds)]]></label>
                        <tooltip><![CDATA[Live mode only]]></tooltip>
                        <comment><![CDATA[The duration between re-asking Local API about an already checked clean IP.<br>Minimum 1 second.]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/mode/stream">0</field>
                        </depends>
                        <validate>required-entry validate-digits validate-digits-range digits-range-1-</validate>
                    </field>
                    <field id="bad_ip_cache_duration" translate="label,comment,tooltip" type="text" sortOrder="800" showInDefault="1">
                        <label><![CDATA[Bad IPs cache duration  (in seconds)]]></label>
                        <tooltip><![CDATA[Live mode only]]></tooltip>
                        <comment><![CDATA[The duration between re-asking Local API about an already checked bad IP.<br>Minimum 1 second.]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/mode/stream">0</field>
                        </depends>
                        <validate>required-entry validate-digits validate-digits-range digits-range-1-</validate>
                    </field>
                    <field id="captcha_cache_duration" translate="label,comment,tooltip" type="text" sortOrder="900" showInDefault="1">
                        <label><![CDATA[Captcha flow cache duration  (in seconds)]]></label>
                        <tooltip><![CDATA[One day: 86400]]></tooltip>
                        <comment><![CDATA[The lifetime of cached captcha flow for some IP.<br>Minimum 1 second.]]></comment>
                        <validate>required-entry validate-digits validate-digits-range digits-range-1-</validate>
                    </field>
                    <field id="geolocation_cache_duration" translate="label,comment,tooltip" type="text" sortOrder="1000" showInDefault="1">
                        <label><![CDATA[Geolocation cache duration  (in seconds)]]></label>
                        <comment><![CDATA[The lifetime of cached country geolocation result for some IP.<br>Minimum 1 second.]]></comment>
                        <validate>required-entry validate-digits validate-digits-range digits-range-1-</validate>
                        <tooltip><![CDATA[One day: 86400]]></tooltip>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/geolocation/save_result">1</field>
                        </depends>
                    </field>
                </group>
                <!-- Geolocation -->
                <group id="geolocation" translate="label,comment,tooltip" showInDefault="1" >
                    <label><![CDATA[Geolocation]]></label>
                    <attribute type="expanded">1</attribute>
                    <comment><![CDATA[Configure geolocation behavior.]]></comment>
                    <field id="enabled" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                        <label>Enable geolocation feature</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enable if you want to handle country scoped decisions]]></comment>
                    </field>
                    <field id="save_result" translate="label,comment,tooltip" type="select" sortOrder="200" showInDefault="1">
                        <label>Save geolocation country result in cache</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enabling this option will avoid multiple call to the geolocation system (e.g. MaxMind database)]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/geolocation/enabled">1</field>
                        </depends>
                    </field>
                    <field id="type" translate="label,comment,tooltip" type="select" sortOrder="300" showInDefault="1">
                        <label>Geolocation type</label>
                        <comment><![CDATA[At this time, only MaxMind type is allowed.]]></comment>
                        <source_model>CrowdSec\Bouncer\Model\Config\Source\GeolocationType</source_model>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/geolocation/enabled">1</field>
                        </depends>
                    </field>
                    <field id="maxmind_database_type" translate="label,comment,tooltip" type="select" sortOrder="400" showInDefault="1">
                        <label>MaxMind database type</label>
                        <source_model>CrowdSec\Bouncer\Model\Config\Source\MaxMindDatabaseType</source_model>
                        <comment><![CDATA[Choose between "Country" and "City" depending on your MaxMind database]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/geolocation/enabled">1</field>
                            <field id="crowdsec_bouncer/advanced/geolocation/type">maxmind</field>
                        </depends>
                    </field>
                    <field id="maxmind_database_path" translate="label,comment,tooltip" type="text" sortOrder="500" showInDefault="1">
                        <label><![CDATA[MaxMind database path]]></label>
                        <comment><![CDATA[Relative path to the "var" folder of your Magento 2 instance]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/geolocation/enabled">1</field>
                            <field id="crowdsec_bouncer/advanced/geolocation/type">maxmind</field>
                        </depends>
                        <validate>required-entry</validate>
                        <tooltip><![CDATA[For example: crowdsec/maxmind/GeoLite2-Country.mmdb]]></tooltip>
                    </field>
                    <field id="geolocalize"  translate="button_label" sortOrder="600" showInDefault="1">
                        <button_label>Test geolocation settings</button_label>
                        <frontend_model>CrowdSec\Bouncer\Block\Adminhtml\System\Config\Geolocation\Country</frontend_model>
                        <depends>
                            <field id="crowdsec_bouncer/advanced/geolocation/enabled">1</field>
                            <field id="crowdsec_bouncer/advanced/geolocation/type">maxmind</field>
                        </depends>
                    </field>

                </group>
                <!-- Remediation -->
                <group id="remediation" translate="label,comment,tooltip" showInDefault="1" >
                    <label><![CDATA[Remediations]]></label>
                    <attribute type="expanded">1</attribute>
                    <comment><![CDATA[Configure some details about remediations.]]></comment>
                    <field id="fallback" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                        <label>Fallback to</label>
                        <source_model>CrowdSec\Bouncer\Model\Config\Source\Fallback</source_model>
                        <comment><![CDATA[Which remediation to apply when CrowdSec advises unhandled remediation.]]></comment>
                    </field>
                    <field id="trust_ip_forward_list" translate="label,comment,tooltip" type="text" sortOrder="200" showInDefault="1">
                        <label><![CDATA[Trust these CDN IPs<br>(or Load Balancer, HTTP Proxy)]]></label>
                        <backend_model>CrowdSec\Bouncer\Model\Config\Backend\TrustedForwardedIps</backend_model>
                        <tooltip><![CDATA[Example: 1.2.3.4/24, 2.3.4.5, 3.4.5.6/27.]]></tooltip>
                        <comment><![CDATA[The <em><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For" target="_blank">X-forwarded-For</a></em> HTTP Header will be trust only when the client IP is in this list.<br><strong>Comma (,)</strong> separated ips or ips ranges.
<br>Some common CDN IP list: <a href="https://www.cloudflare.com/fr-fr/ips/" target="_blank">Cloudflare</a>, <a href="https://api.fastly.com/public-ip-list" target="_blank">Fastly</a>.]]></comment>
                    </field>
                    <field id="hide_mentions" translate="label,comment,tooltip" type="select" sortOrder="300" showInDefault="1">
                        <label>Hide CrowdSec mentions</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enable if you want to hide CrowdSec mentions on the Ban and Captcha pages]]></comment>
                    </field>
                </group>
                <!-- Debug mode -->
                <group id="debug" translate="label,comment,tooltip" showInDefault="1">
                    <label><![CDATA[Configure the debug mode]]></label>
                    <attribute type="expanded">1</attribute>
                    <field id="log" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                        <label>Enable debug log</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Debug logs will be written in "var/log/crowdsec-bouncer-debug.log". Should not be used in production as this log could grow fast.]]></comment>
                    </field>
                    <field id="display_errors" translate="label,comment,tooltip" type="select" sortOrder="200" showInDefault="1">
                        <label>Display bouncing errors</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[ Do not use in production. When this mode is enabled, you will see every unexpected bouncing errors in the browser.]]></comment>
                    </field>
                    <field id="disable_prod_log" translate="label,comment,tooltip" type="select" sortOrder="300" showInDefault="1">
                        <label>Disable prod log</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[By default, production logs are written in "var/log/crowdsec-bouncer-prod.log". You can disable this log here. ]]></comment>
                    </field>
                    <field id="forced_test_ip" translate="label,comment,tooltip" type="text" sortOrder="400" showInDefault="1">
                        <label><![CDATA[Forced test IP ]]></label>
                        <comment><![CDATA[Do not use in production. For test purpose only. If not empty, it will be used for all remediations and geolocation processes.]]></comment>
                    </field>
                    <field id="forced_test_forwarded_ip" translate="label,comment,tooltip" type="text" sortOrder="500" showInDefault="1">
                        <label><![CDATA[Forced test forwarded IP ]]></label>
                        <comment><![CDATA[Do not use in production. For test purpose only. This IP will be used instead of the current X-Forwarded-For IP if any.]]></comment>
                    </field>
                </group>
            </group>
            <!-- Events -->
            <group id="events" translate="label,comment,tooltip" showInDefault="1">
            <attribute type="expanded">1</attribute>
            <label>Events</label>
                <!-- Events logging -->
                <group id="log" translate="label,comment,tooltip" showInDefault="1">
                    <label><![CDATA[Logging]]></label>
                    <comment><![CDATA[Using it in combination to a specific CrowdSec scenario allows detecting suspicious behavior as credential or credit card stuffing.<br> When enabled, you can choose which processes to track.]]></comment>
                    <attribute type="expanded">1</attribute>
                    <field id="enabled" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                        <label>Enable events log</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Logs will be written in "var/log/crowdsec-events.log".]]></comment>
                    </field>
                    <field id="customer_register" translate="label,comment,tooltip" type="select" sortOrder="200" showInDefault="1">
                        <label>Track customer registration</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/events/log/enabled">1</field>
                        </depends>
                    </field>
                    <field id="customer_login" translate="label,comment,tooltip" type="select" sortOrder="300" showInDefault="1">
                        <label>Track customer login</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/events/log/enabled">1</field>
                        </depends>
                    </field>
                    <field id="admin_login" translate="label,comment,tooltip" type="select" sortOrder="400" showInDefault="1">
                        <label>Track admin user login</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/events/log/enabled">1</field>
                        </depends>
                    </field>
                    <field id="add_to_cart" translate="label,comment,tooltip" type="select" sortOrder="500" showInDefault="1">
                        <label>Track add to cart process</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/events/log/enabled">1</field>
                        </depends>
                    </field>
                    <field id="order" translate="label,comment,tooltip" type="select" sortOrder="600" showInDefault="1">
                        <label>Track order process</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[]]></comment>
                        <depends>
                            <field id="crowdsec_bouncer/events/log/enabled">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
